@model NHibernateCouchbaseCacheSample.Models.Beer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

   <fieldset>
        <legend>Beer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Brewery)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Brewery)
            @Html.ValidationMessageFor(model => model.Brewery)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ABV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ABV)
            @Html.ValidationMessageFor(model => model.ABV)
        </div>

        <p>
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
